{% extends "index/base.html" %}

{% load staticfiles %}

{% block static_block %} 
<link rel="stylesheet" href="{% static 'css/sql.css' %}">
{% endblock static_block %}

{% block body_block %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <label for="sql">SQL</label>
        <textarea class="form-control" name="sql" id="sql" placeholder="Insert SQL here..."></textarea>
        <br>
        <input class="btn btn-default" id="sql-submit" type="submit" value="Submit">
    </form>
</div>
<br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="filesql" id="filesql">
        <input class="btn btn-default" id="sql-submit" type="submit" value="Submit">
    </form>
</div>
<br>
<hr>
{% for info_row in info %}
{% if info_row.0 %}
<div class="panel panel-success">
{% elif info_row.0 == False %}
<div class="panel panel-danger">
{% else %}
<div class="panel panel-primary">
{% endif %}
<div class="panel-heading">
    <h3 class="panel-title">SQL execution {{ info_row.1 }}</h3>
  </div>
  <div class="panel-body">
    <p>{{ sql }}</p>
    <p class="danger">{{ info_row.2 }}</p>
    {% if table %}
    <table class="table">
      <thead>
        <tr>
          {% for col in table.columns %}
          <th>{{ col.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for ent in table.entities %}
        <tr>
          {% for e in ent.values %}
          <td>{{ e }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock body_block %}